/* Large Tablets and Small Laptops */
@media (max-width: 1024px) {
    /* Styles for 1024px screens */
    .testmontial-customer {
        padding-inline:30px;
        max-width: 100%;
    }
  }
  
  /* Regular Tablets */
  @media (max-width: 768px) {
    /* Styles for tablets and smaller screens */
    .navbar {
      display: block;
    
  }
  .customer-review-cards {
    grid-template-columns: repeat(2 ,1fr);
    gap: 40px;
   
}
.Services-cards {
  display: block;
}
.Services-cards .Services-item{margin-bottom: 20px;

}
.popular-distinations {
  display: block;

}
.distination-map{
  display: none;
}
.package-travel {
  display: block;
 
}
.tab-buttons .tab-button{
  flex-basis: 45%;
}
.package-card {
  margin-bottom: 20px;
}
.trip-description {
  display: block;
}
.footer-grid {
  grid-template-columns: repeat(2,1fr);
}
.customer-review-block {
  max-width: 300px;
  min-height: 200px;
 
}
.nav-links {

  display: block;
  text-align: center;
 visibility: hidden;
}
.icons {
  justify-content: center;
  visibility: hidden;
}
  }
  
  /* Mobile Phones */
  @media (max-width: 576px) {
    /* Styles for phones */
  }